.items{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 32px;
}
.item{
    width: 271px;

}
.item h3{
    color: #161543;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.item p{
    color: #7687A1;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}